In [88]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [89]:
df_rh = pd.read_csv("data/recursos-humanos_v1.csv", index_col=0)

In [90]:
df_rh[["ManagerName", "ManagerID"]][df_rh["ManagerID"].isnull()]

        ManagerName  ManagerID
19   Webster Butler        NaN
30   Webster Butler        NaN
44   Webster Butler        NaN
88   Webster Butler        NaN
135  Webster Butler        NaN
177  Webster Butler        NaN
232  Webster Butler        NaN
251  Webster Butler        NaN

In [102]:
def arreglando_ManagerId(df):
    #Hemos comprobado que los nulos de ManagerID corresponden al empleado Webster Butler con ID 39.0
    df["ManagerID"] = df["ManagerID"].fillna(39.0)
    #Cambiamos la columna de ManagerID para tener los nombres de los Managers
    managers = {1.0:'Brandon R. LeBlanc', 
                2.0:'Janet King', 
                3.0:'Brandon R. LeBlanc', 
                4.0:'Simon Roup', 
                5.0:'Jennifer Zamora',
                6.0:'Eric Dougall',
                7.0:'Peter Monroe',
                9.0:'Board of Directors',
                10.0:'Alex Sweetwater',
                11.0:'Amy Dunn',
                12.0:'Brannon Miller',
                13.0:'Brian Champaigne',
                14.0:'David Stanley',
                15.0:'Debra Houlihan',
                16.0:'Elijiah Gray',
                17.0:'John Smith',
                18.0:'Kelley Spirea',
                19.0:'Ketsia Liebig',
                20.0:'Kissy Sullivan',
                21.0:'Lynn Daneault',
                22.0:'Michael Albert',
                30.0:'Michael Albert',
                39.0:'Webster Butler'
                }
    #Sobreescribimos la columna ManagerName para eliminar los valores nulos usando la columna ManagerID
    df["ManagerName"] = df["ManagerID"].map(managers)
    return df

In [92]:
def capitalizar(df,columna):
    df[columna] = df[columna].str.capitalize()

In [93]:
def nulos_a_unknown(df,columna):
    df[columna] = df[columna].fillna("Unknown")

In [94]:
def mayusculas_todas_palabras(df,columna):
    df[columna] = df[columna].str.title()

In [103]:
arreglando_ManagerId(df_rh)
capitalizar(df_rh, "HispanicLatino")
mayusculas_todas_palabras(df_rh, "Employee_Name")
nulos_a_unknown(df_rh,"Employee_Name")

In [104]:
df_rh["ManagerID"].dtype

dtype('O')