In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df_hotel = pd.read_csv("data/finanzas-hotel-bookings.csv")
df_rh = pd.read_csv("data/recursos-humanos.csv", index_col=0)

/var/folders/np/2h53vflx42jd3w_yxn33bvv40000gn/T/ipykernel_3130/4167270444.py:1: DtypeWarning: Columns (1,2,5,13,14,15,16,20,21,26,30,32) have mixed types. Specify dtype option on import or set low_memory=False.
  df_hotel = pd.read_csv("data/finanzas-hotel-bookings.csv")

In [3]:
df_hotel.shape

(182877, 33)

In [4]:
df_rh.shape

(410, 40)

In [5]:
df_rh.head()

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,date,Remuneration,Age,Date_of_Birth
0,"Adinolfi, Wilson K",10026.0,0.0,0.0,1.0,1.0,5.0,4.0,NaN,"62,506.00",0.0,19.0,Production Technician I,MA,1960.0,07/10/83,F,Single,NaN,No,White,7/5/2011,NaN,Terminated,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5.0,NaN,1/17/2019,0.0,1.0,NaN,"62,506.00",NaN,NaN
1,NaN,10084.0,NaN,1.0,1.0,5.0,3.0,3.0,0.0,"104,437.00",1.0,27.0,Sr. DBA,MA,2148.0,05/05/75,M,Married,US Citizen,No,White,NaN,6/16/2016,NaN,Voluntarily Terminated,IT/IS,Simon Roup,4.0,Indeed,Fully Meets,4.96,3.0,6.0,NaN,NaN,17.0,NaN,"104,437.00",NaN,NaN
2,"Akinkuolie, Sarah",10196.0,1.0,1.0,0.0,5.0,5.0,3.0,NaN,"64,955.00",1.0,20.0,Production Technician II,MA,1810.0,09/19/88,F,Married,NaN,No,NaN,NaN,9/24/2012,hours,Voluntarily Terminated,Production,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3.0,0.0,5/15/2012,NaN,3.0,NaN,"64,955.00",NaN,NaN
3,"Alagbe,Trina",10088.0,1.0,1.0,0.0,1.0,5.0,3.0,0.0,"64,991.00",0.0,19.0,Production Technician I,MA,1886.0,09/27/88,F,Married,US Citizen,No,NaN,1/7/2008,NaN,Terminated,Active,Production,Elijiah Gray,16.0,NaN,Fully Meets,4.84,5.0,0.0,1/3/2019,NaN,15.0,NaN,"64,991.00",NaN,NaN
4,"Anderson, Carol",10069.0,0.0,2.0,0.0,5.0,5.0,3.0,NaN,"50,825.00",1.0,19.0,Production Technician I,MA,2169.0,09/08/89,F,Divorced,US Citizen,No,White,7/11/2011,9/6/2016,return to school,Voluntarily Terminated,Production,Webster Butler,39.0,Google Search,Fully Meets,5.00,4.0,0.0,2/1/2016,0.0,2.0,NaN,"50,825.00",NaN,NaN

In [6]:
df_rh.info()

<class 'pandas.core.frame.DataFrame'>
Index: 410 entries, 0 to 409
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               164 non-null    object
 1   EmpID                       311 non-null    float64
 2   MarriedID                   257 non-null    float64
 3   MaritalStatusID             311 non-null    float64
 4   GenderID                    311 non-null    float64
 5   EmpStatusID                 311 non-null    float64
 6   DeptID                      311 non-null    float64
 7   PerfScoreID                 282 non-null    float64
 8   FromDiversityJobFairID      156 non-null    float64
 9   Salary                      311 non-null    object
 10  Termd                       311 non-null    float64
 11  PositionID                  311 non-null    float64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    float64
 15  DOB                         311 non-null    object
 16  Sex                         224 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 263 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    227 non-null    object
 21  DateofHire                  228 non-null    object
 22  DateofTermination           102 non-null    object
 23  TermReason                  251 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  185 non-null    object
 26  ManagerName                 220 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           266 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    float64
 32  SpecialProjectsCount        198 non-null    float64
 33  LastPerformanceReview_Date  243 non-null    object
 34  DaysLateLast30              191 non-null    float64
 35  Absences                    311 non-null    float64
 36  date                        99 non-null     object
 37  Remuneration                311 non-null    object
 38  Age                         2 non-null      float64
 39  Date_of_Birth               23 non-null     object
dtypes: float64(18), object(22)
memory usage: 131.3+ KB

In [7]:
df_rh.duplicated().sum()

89

In [8]:
df_rh.drop_duplicates(inplace=True)

In [9]:
df_rh.duplicated().sum()

0

In [10]:
df_rh.info()

<class 'pandas.core.frame.DataFrame'>
Index: 321 entries, 0 to 409
Data columns (total 40 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Employee_Name               164 non-null    object
 1   EmpID                       311 non-null    float64
 2   MarriedID                   257 non-null    float64
 3   MaritalStatusID             311 non-null    float64
 4   GenderID                    311 non-null    float64
 5   EmpStatusID                 311 non-null    float64
 6   DeptID                      311 non-null    float64
 7   PerfScoreID                 282 non-null    float64
 8   FromDiversityJobFairID      156 non-null    float64
 9   Salary                      311 non-null    object
 10  Termd                       311 non-null    float64
 11  PositionID                  311 non-null    float64
 12  Position                    311 non-null    object
 13  State                       311 non-null    object
 14  Zip                         311 non-null    float64
 15  DOB                         311 non-null    object
 16  Sex                         224 non-null    object
 17  MaritalDesc                 311 non-null    object
 18  CitizenDesc                 263 non-null    object
 19  HispanicLatino              311 non-null    object
 20  RaceDesc                    227 non-null    object
 21  DateofHire                  228 non-null    object
 22  DateofTermination           102 non-null    object
 23  TermReason                  251 non-null    object
 24  EmploymentStatus            311 non-null    object
 25  Department                  185 non-null    object
 26  ManagerName                 220 non-null    object
 27  ManagerID                   303 non-null    float64
 28  RecruitmentSource           266 non-null    object
 29  PerformanceScore            311 non-null    object
 30  EngagementSurvey            311 non-null    float64
 31  EmpSatisfaction             311 non-null    float64
 32  SpecialProjectsCount        198 non-null    float64
 33  LastPerformanceReview_Date  243 non-null    object
 34  DaysLateLast30              191 non-null    float64
 35  Absences                    311 non-null    float64
 36  date                        10 non-null     object
 37  Remuneration                311 non-null    object
 38  Age                         2 non-null      float64
 39  Date_of_Birth               23 non-null     object
dtypes: float64(18), object(22)
memory usage: 102.8+ KB

In [11]:
(df_rh.isnull().sum()/df_rh.shape[0]*100).sort_values(ascending=False)

Age                           99.376947
date                          96.884735
Date_of_Birth                 92.834891
DateofTermination             68.224299
FromDiversityJobFairID        51.401869
Employee_Name                 48.909657
Department                    42.367601
DaysLateLast30                40.498442
SpecialProjectsCount          38.317757
ManagerName                   31.464174
Sex                           30.218069
RaceDesc                      29.283489
DateofHire                    28.971963
LastPerformanceReview_Date    24.299065
TermReason                    21.806854
MarriedID                     19.937695
CitizenDesc                   18.068536
RecruitmentSource             17.133956
PerfScoreID                   12.149533
ManagerID                      5.607477
PerformanceScore               3.115265
Remuneration                   3.115265
MaritalStatusID                3.115265
Absences                       3.115265
EmpStatusID                    3.115265
Salary                         3.115265
Termd                          3.115265
EmpSatisfaction                3.115265
EngagementSurvey               3.115265
DOB                            3.115265
Zip                            3.115265
PositionID                     3.115265
Position                       3.115265
EmploymentStatus               3.115265
GenderID                       3.115265
State                          3.115265
EmpID                          3.115265
HispanicLatino                 3.115265
MaritalDesc                    3.115265
DeptID                         3.115265
dtype: float64

In [12]:
columnas_nulos=['Date_of_Birth', 'Age', 'date']

for columna in columnas_nulos:
    print(f'Los valores de la columna: {df_rh[columna].value_counts()}')
    print('---------------------------------')

Los valores de la columna: Date_of_Birth
Twenty-Fourth November, 1987    11
Invalid Date                    11
No Data                          1
Name: count, dtype: int64
---------------------------------
Los valores de la columna: Age
-5.0      1
 150.0    1
Name: count, dtype: int64
---------------------------------
Los valores de la columna: date
2022-05-01    3
2022-04-01    2
2022-01-01    2
2022-01-02    2
2022-01-03    1
Name: count, dtype: int64
---------------------------------

In [13]:
#df_rh.drop(columns=columnas_nulos, inplace=True)

In [14]:
def eliminar_columnas(df_col_sucio):
    columnas_nulos=['Date_of_Birth', 'Age', 'date', 'MarriedID','FromDiversityJobFairID','MaritalStatusID', 'Remuneration','Sex', 'PerfScoreID']
    df_col_sucio.drop(columns=columnas_nulos, inplace=True)
    return df_col_sucio
eliminar_columnas(df_rh)
df_rh.shape

(321, 31)

In [15]:
def eliminando_10_filas_nulas(df_sucio):
    filas_nulas = df_sucio[(df_sucio["EmpID"].isnull())].index
    df_sucio.drop(filas_nulas, axis = 0, inplace=True)
    return df_sucio

eliminando_10_filas_nulas(df_rh)
df_rh.shape

(311, 31)

In [16]:
df_rh.to_csv("data/recursos-humanos_v1.csv")

In [17]:
(df_rh.isnull().sum()/df_rh.shape[0]*100).sort_values(ascending=False)

DateofTermination             67.202572
Employee_Name                 47.266881
Department                    40.514469
DaysLateLast30                38.585209
SpecialProjectsCount          36.334405
ManagerName                   29.260450
RaceDesc                      27.009646
DateofHire                    26.688103
LastPerformanceReview_Date    21.864952
TermReason                    19.292605
CitizenDesc                   15.434084
RecruitmentSource             14.469453
ManagerID                      2.572347
PositionID                     0.000000
DeptID                         0.000000
GenderID                       0.000000
EmpStatusID                    0.000000
EmpSatisfaction                0.000000
EngagementSurvey               0.000000
PerformanceScore               0.000000
EmploymentStatus               0.000000
Salary                         0.000000
Position                       0.000000
Termd                          0.000000
EmpID                          0.000000
HispanicLatino                 0.000000
MaritalDesc                    0.000000
DOB                            0.000000
Zip                            0.000000
State                          0.000000
Absences                       0.000000
dtype: float64