#MIS COLUMNAS
- MaritalDesc
- Absences
- DeptID
- EmpID
- EmpSatisfaction
- EmpStatusID
- EngagementSurvey
- GenderID
- MaritalStatusID

In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [3]:
df_rh = pd.read_csv("data/recursos-humanos_v1.csv", index_col=0)
df_rh.shape

(321, 37)

In [4]:
def info_columna(columna):
    print(f"Los valores que encontramos en la columna {columna.upper()} son {df_rh[columna].unique()}")
    print("-------------------------------------------------")
    print(f"De cada valos tenemos las siguientes cantidades:\n {df_rh[columna].value_counts()}")
    print("-------------------------------------------------")
    print(f"Y tenemos {df_rh[columna].isna().sum()} nulos")

## MaritalDesc

In [5]:
info_columna("MaritalDesc")

Los valores que encontramos en la columna MARITALDESC son ['Single' 'Married' 'Divorced' 'Widowed' 'Separated' nan]
-------------------------------------------------
De cada valos tenemos las siguientes cantidades:
 MaritalDesc
Single       137
Married      124
Divorced      30
Separated     12
Widowed        8
Name: count, dtype: int64
-------------------------------------------------
Y tenemos 10 nulos

Los nulos los mantendr√≠a como desconocidos

In [6]:
df_rh[["MaritalDesc", "MaritalStatusID"]].value_counts()

MaritalDesc  MaritalStatusID
Single       0.0                137
Married      1.0                124
Divorced     2.0                 30
Separated    3.0                 12
Widowed      4.0                  8
Name: count, dtype: int64

## MaritalStatusID

In [7]:
info_columna("MaritalStatusID")

Los valores que encontramos en la columna MARITALSTATUSID son [ 0.  1.  2.  4.  3. nan]
-------------------------------------------------
De cada valos tenemos las siguientes cantidades:
 MaritalStatusID
0.0    137
1.0    124
2.0     30
3.0     12
4.0      8
Name: count, dtype: int64
-------------------------------------------------
Y tenemos 10 nulos

## Absences

In [8]:
info_columna("Absences")

Los valores que encontramos en la columna ABSENCES son [ 1. 17.  3. 15.  2. 19.  4. 16. 12.  9.  7. 20.  8. 13.  5. 14.  6. 11.
 10. 18. nan]
-------------------------------------------------
De cada valos tenemos las siguientes cantidades:
 Absences
4.0     23
16.0    23
7.0     21
2.0     21
15.0    20
13.0    17
14.0    17
3.0     16
19.0    16
6.0     16
11.0    15
17.0    15
1.0     14
20.0    14
9.0     14
5.0     12
8.0     11
10.0    10
12.0     8
18.0     8
Name: count, dtype: int64
-------------------------------------------------
Y tenemos 10 nulos

No hace falta cambiar a int (aunque todos son enteros) porque necesitamos los nulos

In [9]:
df_rh["Absences"].isna().sum()

10

## DeptID

In [10]:
info_columna("DeptID")

Los valores que encontramos en la columna DEPTID son [ 5.  3.  4.  1.  6.  2. nan]
-------------------------------------------------
De cada valos tenemos las siguientes cantidades:
 DeptID
5.0    208
3.0     50
6.0     32
4.0     10
1.0     10
2.0      1
Name: count, dtype: int64
-------------------------------------------------
Y tenemos 10 nulos

In [11]:
info_columna("Department")

Los valores que encontramos en la columna DEPARTMENT son ['Production       ' 'IT/IS' 'Software Engineering' nan 'Admin Offices'
 'Sales' 'Executive Office']
-------------------------------------------------
De cada valos tenemos las siguientes cantidades:
 Department
Production              124
IT/IS                    29
Sales                    19
Software Engineering      7
Admin Offices             5
Executive Office          1
Name: count, dtype: int64
-------------------------------------------------
Y tenemos 136 nulos

In [12]:
df_rh[["DeptID", "Department", "Position"]].value_counts()

DeptID  Department            Position
5.0     Production            Production Technician I         81
                              Production Technician II        35
6.0     Sales                 Area Sales Manager              17
3.0     IT/IS                 IT Support                       7
5.0     Production            Production Manager               6
4.0     Software Engineering  Software Engineer                6
1.0     Admin Offices         Accountant I                     3
3.0     IT/IS                 Sr. Network Engineer             3
                              Network Engineer                 3
                              Database Administrator           3
                              Data Analyst                     3
                              BI Developer                     3
                              IT Manager - DB                  2
6.0     Sales                 Sales Manager                    2
3.0     IT/IS                 IT Manager - Infra               1
                              IT Director                      1
1.0     Admin Offices         Administrative Assistant         1
3.0     IT/IS                 Senior BI Developer              1
                              Sr. DBA                          1
                              Data Analyst                     1
4.0     Software Engineering  Software Engineering Manager     1
5.0     Production            Director of Operations           1
2.0     Executive Office      President & CEO                  1
6.0     Production            Production Technician I          1
1.0     Admin Offices         Sr. Accountant                   1
Name: count, dtype: int64

In [13]:
df_rh[df_rh["EmpID"]==10131.0]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,Remuneration
227,"Quinn, Sean",10131.0,1.0,1.0,1.0,5.0,1.0,3.0,1.0,"83,363.00",1.0,23.0,Software Engineer,MA,2045.0,11/06/84,F,Married,Eligible NonCitizen,No,Black or African American,NaN,8/15/2015,career change,Voluntarily Terminated,NaN,Janet King,2.0,NaN,Fully Meets,4.15,4.0,NaN,4/19/2014,0.0,4.0,"83,363.00"

In [14]:
df_prueba = df_rh[df_rh["DeptID"]==1.0]
df_prueba[["EmpID","DeptID", "Department", "Position"]]

       EmpID  DeptID     Department                  Position
26   10081.0     1.0  Admin Offices            Sr. Accountant
29   10238.0     1.0  Admin Offices              Accountant I
97   10080.0     1.0            NaN            Sr. Accountant
132  10182.0     1.0            NaN  Administrative Assistant
160  10038.0     1.0  Admin Offices              Accountant I
164  10134.0     1.0            NaN   Shared Services Manager
227  10131.0     1.0            NaN         Software Engineer
255  10039.0     1.0  Admin Offices  Administrative Assistant
259  10153.0     1.0            NaN  Administrative Assistant
268  10147.0     1.0  Admin Offices              Accountant I

In [15]:
df_rh[["DeptID", "Department", "Position"]].sample(5)

     DeptID            Department                 Position
66      4.0  Software Engineering        Software Engineer
311     NaN                   NaN                      NaN
290     5.0                   NaN       Production Manager
267     6.0                   NaN       Area Sales Manager
100     5.0     Production         Production Technician I

In [16]:
df_rh.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences', 'Remuneration'],
      dtype='object')

Mantener DeptID que tiene menos nulos y cambiar etiqueta

## EmpID

In [17]:
df_rh["EmpID"].isna().sum()

10

In [18]:
df_rh["EmpID"].max()

10311.0

In [19]:
df_rh["EmpID"].min()

10001.0

Darle a los nulos n¬∫ 10312, 10313...

## EmpSatisfaction

In [20]:
info_columna("EmpSatisfaction")

Los valores que encontramos en la columna EMPSATISFACTION son [ 5.  3.  4.  2.  1. nan]
-------------------------------------------------
De cada valos tenemos las siguientes cantidades:
 EmpSatisfaction
3.0    108
5.0     98
4.0     94
2.0      9
1.0      2
Name: count, dtype: int64
-------------------------------------------------
Y tenemos 10 nulos

## EmpStatusID

In [21]:
info_columna("EmpStatusID")

Los valores que encontramos en la columna EMPSTATUSID son [ 1.  5.  3.  4.  2. nan]
-------------------------------------------------
De cada valos tenemos las siguientes cantidades:
 EmpStatusID
1.0    184
5.0     88
3.0     14
4.0     14
2.0     11
Name: count, dtype: int64
-------------------------------------------------
Y tenemos 10 nulos

In [22]:
df_rh[["EmpStatusID", "EmploymentStatus"]].value_counts()

EmpStatusID  EmploymentStatus
1.0          Active                    182
5.0          Voluntarily Terminated     88
3.0          Active                     14
4.0          Terminated for Cause       14
2.0          Active                     11
1.0          Terminated for Cause        2
Name: count, dtype: int64

Preguntar√≠a al cliente qu√© hacer, porque si eliminamos empStatusID nos quedar√≠an solo 3 opciones:
- Active
- Voluntarily Terminated
- Terminated for Cause

In [23]:
df_rh["EmploymentStatus"].unique()

array(['Active', 'Voluntarily Terminated', 'Terminated for Cause', nan],
      dtype=object)

## EngagementSurvey

In [24]:
info_columna("EngagementSurvey")

Los valores que encontramos en la columna ENGAGEMENTSURVEY son [4.6  4.96 3.02 4.84 5.   3.04 4.46 4.2  4.28 4.4  4.5  2.   4.8  3.5
 3.39 3.35 3.19 3.14 4.51 3.25 3.84 4.43 3.3  3.8  3.   4.3  3.58 4.7
 4.1  4.13 3.7  4.73 4.12 4.62 3.1  3.96 3.79 1.93 1.12 3.01 2.3  3.88
 3.4  4.11 4.77 4.52 2.9  2.1  4.   3.13 1.56 1.2  4.76 3.66 3.73 4.24
 3.97 3.9  4.61 4.63 4.64 4.17 3.6  3.03 4.48 3.24 3.72 2.34 3.99 3.75
 3.07 4.83 3.49 3.38 3.65 4.78 4.9  4.88 4.53 3.18 4.65 3.08 3.93 4.18
 4.37 2.39 3.81 4.29 2.33 4.25 3.89 3.54 2.4  3.45 4.16 3.17 4.15 3.98
 4.36 3.69 4.94 2.6  3.51 3.31 4.81 3.32 4.68 3.27 1.81 4.21 2.44 2.81
 4.33 3.21 3.11 2.5  3.42 4.07 3.2   nan]
-------------------------------------------------
De cada valos tenemos las siguientes cantidades:
 EngagementSurvey
5.00    56
4.50    19
4.30    17
4.20    17
4.10    16
4.60    10
4.70     7
4.40     7
3.60     7
3.40     5
3.00     5
4.00     4
3.93     3
3.80     3
2.40     3
3.73     3
4.80     3
2.00     3
4.52     2
3.98     2
4.96     2
3.88     2
2.30     2
4.36     2
3.69     2
3.66     2
3.97     2
4.76     2
3.90     2
3.10     2
4.62     2
4.46     2
4.64     2
3.70     2
4.28     2
3.18     2
3.50     2
4.83     2
4.53     2
3.04     2
3.81     1
2.39     1
4.29     1
4.18     1
3.08     1
3.89     1
4.65     1
3.54     1
4.25     1
2.33     1
4.37     1
4.94     1
3.45     1
1.81     1
4.07     1
3.42     1
2.50     1
3.11     1
3.21     1
4.33     1
2.81     1
2.44     1
4.21     1
3.27     1
4.16     1
4.68     1
3.32     1
4.81     1
3.31     1
3.51     1
2.60     1
4.90     1
4.15     1
3.17     1
4.88     1
4.63     1
4.78     1
4.43     1
1.93     1
3.79     1
3.96     1
4.12     1
4.73     1
4.13     1
3.58     1
3.30     1
3.84     1
3.01     1
3.25     1
4.51     1
3.14     1
3.19     1
3.35     1
3.39     1
4.84     1
3.02     1
1.12     1
4.11     1
3.65     1
4.48     1
3.38     1
3.49     1
3.07     1
3.75     1
3.99     1
2.34     1
3.72     1
3.24     1
3.03     1
4.77     1
4.17     1
4.61     1
4.24     1
1.20     1
1.56     1
3.13     1
2.10     1
2.90     1
3.20     1
Name: count, dtype: int64
-------------------------------------------------
Y tenemos 10 nulos

## GenderID

In [25]:
info_columna("GenderID")

Los valores que encontramos en la columna GENDERID son [ 1.  0. nan]
-------------------------------------------------
De cada valos tenemos las siguientes cantidades:
 GenderID
0.0    176
1.0    135
Name: count, dtype: int64
-------------------------------------------------
Y tenemos 10 nulos

In [26]:
df_rh[["GenderID", "Sex"]].sort_values("GenderID")

     GenderID  Sex
310       0.0  NaN
129       0.0    M
130       0.0  NaN
131       0.0  NaN
132       0.0    M
133       0.0    F
134       0.0    M
135       0.0  NaN
136       0.0    M
250       0.0    F
251       0.0    M
138       0.0    F
140       0.0    F
141       0.0    M
142       0.0    M
144       0.0    F
145       0.0    F
146       0.0    M
147       0.0    M
150       0.0    M
151       0.0  NaN
139       0.0    F
127       0.0    F
252       0.0    M
125       0.0  NaN
101       0.0    F
102       0.0  NaN
103       0.0  NaN
104       0.0    F
261       0.0  NaN
106       0.0    M
107       0.0    M
215       0.0    M
260       0.0    F
110       0.0    M
259       0.0    F
113       0.0    M
114       0.0    M
116       0.0    F
117       0.0    M
256       0.0    F
119       0.0    F
255       0.0    M
122       0.0    M
253       0.0    F
124       0.0    M
152       0.0    M
246       0.0    M
245       0.0    M
309       0.0    F
233       0.0    M
232       0.0    F
191       0.0    F
193       0.0    M
194       0.0  NaN
228       0.0    M
226       0.0  NaN
224       0.0    M
223       0.0    M
201       0.0    M
202       0.0    M
203       0.0  NaN
204       0.0    F
205       0.0    F
206       0.0    M
207       0.0  NaN
220       0.0    F
211       0.0  NaN
219       0.0  NaN
218       0.0  NaN
217       0.0    M
186       0.0    F
99        0.0    M
185       0.0    M
182       0.0  NaN
158       0.0    M
241       0.0    M
240       0.0  NaN
162       0.0    F
163       0.0  NaN
239       0.0    M
238       0.0    M
167       0.0    M
168       0.0    M
236       0.0    F
170       0.0    F
171       0.0    M
172       0.0    F
173       0.0    M
174       0.0    F
176       0.0  NaN
177       0.0    M
178       0.0    M
179       0.0  NaN
180       0.0    F
181       0.0    M
183       0.0    F
263       0.0  NaN
108       0.0  NaN
264       0.0  NaN
29        0.0    M
296       0.0  NaN
31        0.0    F
32        0.0    F
33        0.0    M
294       0.0    F
293       0.0  NaN
37        0.0    F
28        0.0    M
39        0.0    F
41        0.0  NaN
43        0.0    F
46        0.0    F
97        0.0    F
47        0.0    F
288       0.0    M
49        0.0    M
286       0.0    F
40        0.0  NaN
297       0.0  NaN
26        0.0    M
24        0.0    F
308       0.0    F
2         0.0    F
3         0.0    F
4         0.0    F
5         0.0    F
6         0.0    M
307       0.0    F
8         0.0    F
10        0.0    F
305       0.0  NaN
303       0.0    F
302       0.0    M
16        0.0    F
17        0.0    M
18        0.0  NaN
299       0.0    F
21        0.0    F
22        0.0    M
23        0.0  NaN
283       0.0  NaN
56        0.0    F
216       0.0    M
281       0.0    F
276       0.0  NaN
68        0.0    M
86        0.0    M
85        0.0    M
273       0.0    F
72        0.0  NaN
73        0.0  NaN
66        0.0    F
74        0.0  NaN
77        0.0    M
78        0.0    F
79        0.0  NaN
83        0.0    M
80        0.0    F
271       0.0    M
270       0.0  NaN
75        0.0  NaN
88        0.0    F
87        0.0    M
60        0.0    M
89        0.0  NaN
58        0.0    M
265       0.0    M
278       0.0  NaN
279       0.0    M
94        0.0    M
266       0.0    M
62        0.0    F
61        0.0    F
277       0.0  NaN
92        0.0  NaN
262       1.0    F
269       1.0    F
258       1.0  NaN
306       1.0    F
227       1.0    F
222       1.0  NaN
301       1.0   M
225       1.0    F
267       1.0   M
304       1.0  NaN
268       1.0  NaN
229       1.0  NaN
221       1.0   M
300       1.0  NaN
254       1.0   M
231       1.0    F
282       1.0  NaN
284       1.0   M
248       1.0    F
247       1.0  NaN
285       1.0   M
280       1.0    F
287       1.0  NaN
244       1.0   M
242       1.0  NaN
289       1.0   M
290       1.0   M
291       1.0  NaN
237       1.0   M
292       1.0  NaN
275       1.0  NaN
274       1.0   M
295       1.0   M
235       1.0  NaN
272       1.0   M
249       1.0  NaN
298       1.0    F
234       1.0  NaN
257       1.0    F
230       1.0   M
243       1.0    F
0         1.0    F
213       1.0   M
53        1.0  NaN
54        1.0  NaN
55        1.0    F
57        1.0    F
59        1.0   M
63        1.0  NaN
64        1.0  NaN
65        1.0  NaN
67        1.0    F
69        1.0    F
70        1.0   M
71        1.0  NaN
76        1.0   M
81        1.0   M
82        1.0  NaN
84        1.0  NaN
90        1.0    F
91        1.0    F
93        1.0   M
52        1.0    F
51        1.0    F
50        1.0  NaN
48        1.0   M
1         1.0   M
7         1.0   M
9         1.0  NaN
11        1.0  NaN
12        1.0   M
13        1.0  NaN
14        1.0  NaN
15        1.0  NaN
19        1.0    F
95        1.0  NaN
20        1.0   M
27        1.0    F
30        1.0  NaN
34        1.0   M
35        1.0   M
36        1.0   M
38        1.0   M
42        1.0   M
44        1.0   M
45        1.0   M
25        1.0   M
214       1.0  NaN
96        1.0   M
100       1.0  NaN
166       1.0   M
169       1.0  NaN
175       1.0   M
184       1.0  NaN
187       1.0   M
188       1.0    F
189       1.0   M
190       1.0  NaN
192       1.0    F
195       1.0    F
196       1.0   M
197       1.0  NaN
198       1.0    F
199       1.0   M
200       1.0  NaN
208       1.0   M
209       1.0   M
210       1.0   M
212       1.0   M
165       1.0   M
164       1.0    F
161       1.0  NaN
160       1.0  NaN
105       1.0    F
109       1.0   M
111       1.0   M
112       1.0    F
115       1.0    F
118       1.0    F
120       1.0    F
121       1.0    F
123       1.0   M
98        1.0    F
126       1.0   M
137       1.0    F
143       1.0    F
148       1.0  NaN
149       1.0    F
153       1.0   M
154       1.0   M
156       1.0    F
157       1.0   M
159       1.0  NaN
128       1.0    F
155       1.0   M
311       NaN  NaN
312       NaN  NaN
315       NaN  NaN
319       NaN  NaN
323       NaN  NaN
338       NaN  NaN
392       NaN  NaN
394       NaN  NaN
406       NaN  NaN
409       NaN  NaN

In [27]:
df_rh[["GenderID", "Sex"]].sort_values("GenderID").value_counts()

GenderID  Sex
0.0       M      70
          F      62
1.0       M      53
          F      39
Name: count, dtype: int64

In [28]:
df_rh.shape

(321, 37)

In [29]:
df_rh[(df_rh["GenderID"]!=1.0) & (df_rh["GenderID"]!=2.0) & (df_rh["GenderID"]!=3.0) & (df_rh["GenderID"]!=4.0) & (df_rh["GenderID"]!=0.0)]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,Remuneration
311,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
312,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
319,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
323,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
338,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
columnas_nulas_empid = df_rh[(df_rh["EmpID"].isnull())].index
columnas_nulas_empid

Index([311, 312, 315, 319, 323, 338, 392, 394, 406, 409], dtype='int64')

In [31]:
df_rh.drop([311, 312, 315, 319, 323, 338, 392, 394, 406, 409], axis = 0, inplace=True)

In [32]:
df_rh.shape

(311, 37)

In [33]:
def eliminando_10_columnas_nulas(df_sucio):
    columnas_nulas = df_sucio[(df_sucio["EmpID"].isnull())].index
    df_sucio.drop(columnas_nulas, axis = 0, inplace=True)
    return df_sucio

eliminando_10_columnas_nulas(df_rh)
df_rh.shape

(311, 37)

In [34]:
df_rh[df_rh["TermReason"]=="Terminated"]

,Employee_Name,EmpID,MarriedID,MaritalStatusID,GenderID,EmpStatusID,DeptID,PerfScoreID,FromDiversityJobFairID,Salary,Termd,PositionID,Position,State,Zip,DOB,Sex,MaritalDesc,CitizenDesc,HispanicLatino,RaceDesc,DateofHire,DateofTermination,TermReason,EmploymentStatus,Department,ManagerName,ManagerID,RecruitmentSource,PerformanceScore,EngagementSurvey,EmpSatisfaction,SpecialProjectsCount,LastPerformanceReview_Date,DaysLateLast30,Absences,Remuneration
0,"Adinolfi, Wilson K",10026.0,0.0,0.0,1.0,1.0,5.0,4.0,NaN,"62,506.00",0.0,19.0,Production Technician I,MA,1960.0,07/10/83,F,Single,NaN,No,White,7/5/2011,NaN,Terminated,Active,Production,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5.0,NaN,1/17/2019,0.0,1.0,"62,506.00"
3,"Alagbe,Trina",10088.0,1.0,1.0,0.0,1.0,5.0,3.0,0.0,"64,991.00",0.0,19.0,Production Technician I,MA,1886.0,09/27/88,F,Married,US Citizen,No,NaN,1/7/2008,NaN,Terminated,Active,Production,Elijiah Gray,16.0,NaN,Fully Meets,4.84,5.0,0.0,1/3/2019,NaN,15.0,"64,991.00"
6,"Andreola, Colby",10194.0,0.0,0.0,0.0,1.0,4.0,NaN,NaN,"95,660.00",0.0,24.0,Software Engineer,MA,2110.0,05/24/79,M,Single,NaN,No,White,11/10/2014,NaN,Terminated,Active,Software Engineering,NaN,10.0,LinkedIn,Fully Meets,3.04,3.0,4.0,1/2/2019,NaN,19.0,"95,660.00"
9,NaN,10250.0,0.0,2.0,1.0,1.0,3.0,3.0,0.0,"50,178.00",0.0,14.0,IT Support,MA,1886.0,01/07/88,NaN,Divorced,US Citizen,No,White,1/5/2015,NaN,Terminated,Active,IT/IS,NaN,7.0,Indeed,Fully Meets,5.00,5.0,NaN,2/18/2019,0.0,16.0,"50,178.00"
12,"Barbossa, Hector",10012.0,0.0,2.0,1.0,1.0,3.0,NaN,NaN,"92,328.00",0.0,9.0,Data Analyst,TX,78230.0,07/04/88,M,Divorced,US Citizen,No,NaN,11/10/2014,NaN,Terminated,Active,NaN,Simon Roup,4.0,Diversity Job Fair,Exceeds,4.28,4.0,NaN,NaN,NaN,9.0,"92,328.00"
13,"Barone, Francesco A",10265.0,0.0,0.0,1.0,1.0,5.0,3.0,NaN,"58,709.00",0.0,19.0,Production Technician I,MA,1810.0,07/20/83,NaN,Single,NaN,No,Two or more races,2/20/2012,NaN,Terminated,Active,NaN,NaN,18.0,Google Search,Fully Meets,4.60,4.0,NaN,NaN,0.0,7.0,"58,709.00"
21,"Biden, Lowan M",10226.0,0.0,2.0,0.0,1.0,5.0,3.0,NaN,"64,919.00",0.0,19.0,Production Technician I,MA,2027.0,12/27/58,F,Divorced,US Citizen,No,NaN,NaN,NaN,Terminated,Active,Production,Ketsia Liebig,19.0,NaN,Fully Meets,4.20,3.0,NaN,NaN,NaN,2.0,"64,919.00"
22,NaN,10003.0,NaN,1.0,0.0,1.0,5.0,4.0,NaN,"62,910.00",0.0,19.0,Production Technician I,MA,2031.0,09/01/89,M,Married,NaN,No,White,7/7/2014,NaN,Terminated,Active,Production,Brannon Miller,12.0,Indeed,Exceeds,5.00,3.0,0.0,2/27/2019,0.0,19.0,"62,910.00"
29,NaN,10238.0,1.0,1.0,0.0,1.0,1.0,3.0,NaN,"63,000.00",0.0,1.0,Accountant I,MA,1450.0,11/24/87,M,Married,NaN,No,Black or African American,10/27/2008,NaN,Terminated,Active,Admin Offices,NaN,1.0,Diversity Job Fair,Fully Meets,4.50,2.0,NaN,NaN,0.0,14.0,"63,000.00"
31,"Bugali, Josephine",10203.0,0.0,3.0,0.0,3.0,5.0,3.0,1.0,"64,375.00",0.0,19.0,Production Technician I,MA,2043.0,10/30/69,F,Separated,US Citizen,No,Black or African American,11/11/2013,NaN,Terminated,Active,Production,Kissy Sullivan,20.0,Diversity Job Fair,Fully Meets,3.50,5.0,0.0,1/21/2019,0.0,17.0,"64,375.00"
33,"Burke, Joelle",10107.0,NaN,0.0,0.0,1.0,5.0,3.0,NaN,"63,763.00",0.0,20.0,Production Technician II,MA,2148.0,03/02/80,M,Single,US Citizen,No,Black or African American,3/5/2012,NaN,Terminated,Active,Production,Amy Dunn,11.0,Employee Referral,Fully Meets,4.51,4.0,0.0,2/21/2019,NaN,3.0,"63,763.00"
34,NaN,10181.0,1.0,1.0,1.0,1.0,5.0,3.0,NaN,"62,162.00",0.0,20.0,Production Technician II,MA,1890.0,08/19/77,M,Married,US Citizen,No,White,4/4/2011,NaN,Terminated,Active,NaN,Ketsia Liebig,19.0,Indeed,Fully Meets,3.25,5.0,0.0,NaN,0.0,15.0,"62,162.00"
36,"Candie, Calvin",10001.0,NaN,0.0,1.0,1.0,5.0,4.0,NaN,"72,640.00",0.0,18.0,Production Manager,MA,2169.0,08/09/83,M,Single,US Citizen,No,White,NaN,NaN,Terminated,Active,NaN,NaN,2.0,NaN,Exceeds,5.00,3.0,NaN,2/22/2019,NaN,14.0,"72,640.00"
37,"Carabbio, Judith",10085.0,0.0,0.0,0.0,1.0,4.0,3.0,0.0,"93,396.00",0.0,24.0,Software Engineer,MA,2132.0,04/05/87,F,Single,US Citizen,No,White,NaN,NaN,Terminated,Active,Software Engineering,Alex Sweetwater,10.0,NaN,Fully Meets,4.96,4.0,6.0,1/30/2019,NaN,3.0,"93,396.00"
43,"Chan, Lin",10210.0,0.0,0.0,0.0,1.0,5.0,3.0,NaN,"54,237.00",0.0,19.0,Production Technician I,MA,2170.0,02/12/79,F,Single,US Citizen,No,NaN,5/12/2014,NaN,Terminated,Active,Production,NaN,16.0,Indeed,Fully Meets,3.30,4.0,0.0,2/19/2019,0.0,11.0,"54,237.00"
48,"Clayton, Rick",10220.0,0.0,0.0,1.0,1.0,3.0,NaN,0.0,"68,678.00",0.0,14.0,IT Support,MA,2170.0,09/05/85,M,Single,US Citizen,No,NaN,9/5/2012,NaN,Terminated,Active,IT/IS,Eric Dougall,6.0,Indeed,Fully Meets,4.70,3.0,NaN,NaN,NaN,2.0,"68,678.00"
56,NaN,10094.0,1.0,1.0,0.0,1.0,5.0,3.0,NaN,"63,381.00",0.0,19.0,Production Technician I,MA,2189.0,03/31/77,F,Married,US Citizen,Yes,White,NaN,NaN,Terminated,Active,Production,NaN,18.0,Indeed,Fully Meets,4.73,5.0,0.0,2/14/2019,0.0,6.0,"63,381.00"
57,"Costello, Frank",10193.0,1.0,1.0,1.0,1.0,3.0,3.0,NaN,"83,552.00",0.0,9.0,Data Analyst,MA,1810.0,08/26/86,F,Married,US Citizen,No,White,3/30/2015,NaN,Terminated,Active,NaN,Simon Roup,4.0,Indeed,Fully Meets,3.04,3.0,6.0,1/22/2019,0.0,2.0,"83,552.00"
60,"Daneault, Lynn",10099.0,NaN,0.0,0.0,1.0,6.0,3.0,0.0,"65,729.00",0.0,21.0,Sales Manager,VT,5473.0,04/19/90,M,Single,US Citizen,No,White,5/5/2014,NaN,Terminated,Active,NaN,Debra Houlihan,15.0,Indeed,Fully Meets,4.62,4.0,0.0,1/24/2019,0.0,8.0,"65,729.00"
61,"Daniele, Ann",10212.0,1.0,1.0,0.0,3.0,3.0,3.0,0.0,"85,028.00",0.0,28.0,Sr. Network Engineer,CT,6033.0,01/18/52,F,Married,US Citizen,No,NaN,11/10/2014,NaN,Terminated,Active,NaN,Peter Monroe,7.0,LinkedIn,Fully Meets,3.10,5.0,8.0,2/12/2019,NaN,19.0,"85,028.00"
62,"Darson, Jene'ya",10056.0,NaN,1.0,0.0,1.0,5.0,3.0,NaN,"57,583.00",0.0,19.0,Production Technician I,MA,2110.0,11/05/78,F,Married,US Citizen,No,White,7/2/2012,NaN,Terminated,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,5.00,3.0,0.0,2/25/2019,0.0,1.0,"57,583.00"
63,NaN,10143.0,0.0,0.0,1.0,1.0,5.0,3.0,0.0,"56,294.00",0.0,20.0,Production Technician II,MA,2458.0,09/14/79,NaN,Single,NaN,No,Two or more races,11/7/2011,NaN,Terminated,Active,Production,NaN,20.0,LinkedIn,Fully Meets,3.96,4.0,NaN,2/27/2019,0.0,6.0,"56,294.00"
64,NaN,10311.0,1.0,1.0,1.0,1.0,6.0,1.0,0.0,"56,991.00",0.0,19.0,Production Technician I,MA,2138.0,04/15/88,NaN,Married,US Citizen,No,White,7/9/2018,NaN,Terminated,Active,Production,Brannon Miller,12.0,Indeed,Fully Meets,4.30,4.0,3.0,1/31/2019,2.0,2.0,"56,991.00"
66,NaN,10155.0,0.0,0.0,0.0,1.0,4.0,3.0,NaN,"101,199.00",0.0,24.0,Software Engineer,MA,2176.0,07/05/79,F,Single,US Citizen,No,Black or African American,1/9/2012,NaN,Terminated,Active,Software Engineering,Alex Sweetwater,10.0,CareerBuilder,Fully Meets,3.79,5.0,NaN,NaN,NaN,8.0,"101,199.00"
71,"Dickinson, Geoff",10276.0,0.0,0.0,1.0,1.0,5.0,3.0,0.0,"51,259.00",0.0,19.0,Production Technician I,MA,2180.0,11/15/82,NaN,Single,US Citizen,No,NaN,5/12/2014,NaN,Terminated,Active,Production,NaN,19.0,Indeed,Fully Meets,4.30,4.0,0.0,NaN,NaN,1.0,"51,259.00"
74,NaN,10207.0,0.0,0.0,0.0,1.0,5.0,3.0,0.0,"46,335.00",0.0,19.0,Production Technician I,MA,2125.0,10/07/86,NaN,Single,NaN,Yes,NaN,4/2/2012,NaN,Terminated,Active,NaN,David Stanley,14.0,CareerBuilder,Fully Meets,3.40,5.0,0.0,NaN,0.0,15.0,"46,335.00"
81,NaN,10247.0,NaN,0.0,1.0,1.0,5.0,3.0,0.0,"48,888.00",0.0,19.0,Production Technician I,MA,2026.0,05/31/74,M,Single,US Citizen,No,White,NaN,NaN,Terminated,Active,NaN,Kelley Spirea,18.0,NaN,Fully Meets,4.70,5.0,NaN,2/13/2019,NaN,8.0,"48,888.00"
91,NaN,10309.0,0.0,0.0,1.0,1.0,3.0,1.0,NaN,"53,366.00",0.0,15.0,Network Engineer,MA,2138.0,06/18/87,F,Single,US Citizen,No,White,NaN,NaN,Terminated,Active,IT/IS,NaN,7.0,LinkedIn,PIP,1.20,3.0,NaN,NaN,3.0,2.0,"53,366.00"
97,"Foster-Baker, Amy",10080.0,1.0,1.0,0.0,1.0,1.0,3.0,NaN,"99,351.00",0.0,26.0,Sr. Accountant,MA,2050.0,04/16/79,F,Married,US Citizen,no,White,1/5/2009,NaN,Terminated,Active,NaN,Board of Directors,9.0,Other,Fully Meets,5.00,3.0,2.0,2/8/2019,NaN,3.0,"99,351.00"
98,"Fraval, Maruk",10258.0,0.0,0.0,1.0,1.0,6.0,3.0,NaN,"67,251.00",0.0,3.0,Area Sales Manager,CT,6050.0,08/28/63,F,Single,US Citizen,No,Black or African American,9/6/2011,NaN,Terminated,Active,NaN,Lynn Daneault,21.0,NaN,Fully Meets,4.30,3.0,0.0,1/27/2019,NaN,7.0,"67,251.00"
101,NaN,10257.0,0.0,0.0,0.0,1.0,5.0,NaN,0.0,"53,171.00",0.0,19.0,Production Technician I,MA,2121.0,12/02/83,F,Single,NaN,Yes,Black or African American,5/16/2011,NaN,Terminated,Active,Production,Kelley Spirea,18.0,LinkedIn,Fully Meets,4.20,4.0,0.0,2/26/2019,0.0,12.0,"53,171.00"
102,"Gentry, Mildred",10159.0,NaN,1.0,0.0,1.0,5.0,3.0,0.0,"51,337.00",0.0,19.0,Production Technician I,MA,2145.0,10/01/90,NaN,Married,US Citizen,No,NaN,3/30/2015,NaN,Terminated,Active,Production,NaN,22.0,LinkedIn,Fully Meets,3.73,3.0,0.0,NaN,NaN,19.0,"51,337.00"
106,"Girifalco, Evelyn",10018.0,0.0,0.0,0.0,1.0,5.0,4.0,0.0,"57,815.00",0.0,19.0,Production Technician I,MA,2451.0,05/08/80,M,Single,US Citizen,Yes,Two or more races,NaN,NaN,Terminated,Active,NaN,Amy Dunn,11.0,NaN,Exceeds,3.90,4.0,0.0,2/7/2019,NaN,3.0,"57,815.00"
110,"Gold, Shenice",10243.0,0.0,0.0,0.0,1.0,5.0,NaN,NaN,"53,018.00",0.0,19.0,Production Technician I,MA,2451.0,06/18/92,M,Single,US Citizen,Yes,White,11/11/2013,NaN,Terminated,Active,Production,Ketsia Liebig,19.0,NaN,Fully Meets,4.30,5.0,0.0,2/18/2019,0.0,7.0,"53,018.00"
115,NaN,10051.0,1.0,1.0,1.0,1.0,5.0,3.0,NaN,"48,285.00",0.0,19.0,Production Technician I,MA,2169.0,05/21/79,F,Married,US Citizen,No,NaN,7/2/2012,NaN,Terminated,Active,Production,NaN,14.0,LinkedIn,Fully Meets,5.00,3.0,0.0,1/14/2019,0.0,2.0,"48,285.00"
117,"Goyal, Roxana",10256.0,1.0,1.0,0.0,3.0,5.0,3.0,0.0,"49,256.00",0.0,19.0,Production Technician I,MA,1864.0,10/09/74,M,Married,NaN,No,Asian,8/19/2013,NaN,Terminated,Active,NaN,NaN,20.0,LinkedIn,Fully Meets,4.10,5.0,0.0,2/15/2019,0.0,3.0,"49,256.00"
123,NaN,10074.0,0.0,0.0,1.0,1.0,5.0,3.0,0.0,"64,246.00",0.0,20.0,Production Technician II,MA,2155.0,08/10/88,M,Single,US Citizen,Yes,NaN,11/11/2013,NaN,Terminated,Active,Production,Kelley Spirea,18.0,LinkedIn,Fully Meets,5.00,3.0,0.0,1/8/2019,0.0,20.0,"64,246.00"
125,"Harrison, Kara",10007.0,1.0,1.0,0.0,1.0,5.0,4.0,NaN,"62,065.00",0.0,19.0,Production Technician I,MA,1886.0,05/02/74,NaN,Married,US Citizen,No,White,5/12/2014,NaN,Terminated,Active,Production,NaN,11.0,NaN,Exceeds,4.76,4.0,0.0,NaN,0.0,5.0,"62,065.00"
128,"Hitchcock, Alfred",10167.0,1.0,1.0,1.0,1.0,6.0,3.0,0.0,"70,545.00",0.0,3.0,Area Sales Manager,NH,3062.0,09/14/88,F,Married,US Citizen,No,American Indian or Alaska Native,8/18/2014,NaN,Terminated,Active,Sales,NaN,17.0,Indeed,Fully Meets,3.60,5.0,0.0,1/30/2019,NaN,9.0,"70,545.00"
133,"Hudson, Jane",10248.0,NaN,0.0,0.0,1.0,5.0,3.0,0.0,"55,425.00",0.0,19.0,Production Technician I,MA,2176.0,06/10/86,F,Single,US Citizen,No,NaN,2/20/2012,NaN,Terminated,Active,Production,Ketsia Liebig,19.0,LinkedIn,Fully Meets,4.80,4.0,0.0,1/7/2019,0.0,4.0,"55,425.00"
134,"Hunts, Julissa",10201.0,0.0,0.0,0.0,2.0,5.0,3.0,0.0,"69,340.00",0.0,20.0,Production Technician II,MA,2021.0,03/11/84,M,Single,US Citizen,No,White,NaN,NaN,Terminated,Active,Production,Elijiah Gray,16.0,LinkedIn,Fully Meets,3.00,5.0,0.0,NaN,0.0,4.0,"69,340.00"
135,"Hutter, Rosalie",10214.0,0.0,3.0,0.0,2.0,5.0,3.0,NaN,"64,995.00",0.0,20.0,Production Technician II,MA,2351.0,05/07/92,NaN,Separated,US Citizen,No,White,6/5/2015,NaN,Terminated,Active,NaN,Webster Butler,NaN,Indeed,Fully Meets,4.50,3.0,NaN,2/14/2019,0.0,6.0,"64,995.00"
139,"Jackson, Maryellen",10227.0,0.0,0.0,0.0,1.0,5.0,3.0,NaN,"61,242.00",0.0,19.0,Production Technician I,MA,2081.0,09/11/72,F,Single,US Citizen,No,NaN,11/5/2012,NaN,Terminated,Active,Production,David Stanley,14.0,LinkedIn,Fully Meets,4.10,3.0,0.0,1/17/2019,0.0,7.0,"61,242.00"
144,NaN,10156.0,1.0,1.0,0.0,3.0,3.0,3.0,NaN,"105,700.00",0.0,8.0,Database Administrator,MA,2301.0,11/07/86,F,Married,US Citizen,No,Asian,1/5/2015,NaN,Terminated,Active,NaN,Simon Roup,4.0,Indeed,Fully Meets,3.75,3.0,5.0,2/11/2019,0.0,2.0,"105,700.00"
148,"Keatts, Kramer",10192.0,0.0,0.0,1.0,1.0,5.0,3.0,0.0,"50,482.00",0.0,19.0,Production Technician I,MA,1887.0,01/19/76,NaN,Single,US Citizen,No,White,9/30/2013,NaN,Terminated,Active,NaN,NaN,22.0,Indeed,Fully Meets,3.07,4.0,0.0,1/23/2019,0.0,10.0,"50,482.00"
149,NaN,10231.0,0.0,0.0,1.0,1.0,6.0,3.0,NaN,"65,310.00",0.0,3.0,Area Sales Manager,CO,80820.0,11/27/79,F,Single,US Citizen,No,White,8/19/2013,NaN,Terminated,Active,NaN,Lynn Daneault,21.0,Indeed,Fully Meets,4.30,5.0,NaN,1/22/2019,NaN,13.0,"65,310.00"
150,"King, Janet",10089.0,1.0,1.0,0.0,1.0,2.0,3.0,0.0,"250,000.00",0.0,16.0,President & CEO,MA,1902.0,09/21/54,M,Married,US Citizen,Yes,White,7/2/2012,NaN,Terminated,Active,Executive Office,NaN,9.0,Indeed,Fully Meets,4.83,3.0,0.0,1/17/2019,NaN,10.0,"250,000.00"
159,NaN,10052.0,1.0,1.0,1.0,1.0,5.0,3.0,NaN,"46,120.00",0.0,19.0,Production Technician I,MA,2048.0,12/09/86,NaN,Married,US Citizen,No,White,7/9/2012,NaN,Terminated,Active,NaN,David Stanley,14.0,LinkedIn,Fully Meets,5.00,5.0,NaN,2/4/2019,NaN,13.0,"46,120.00"
166,"Leruth, Giovanni",10103.0,0.0,3.0,1.0,1.0,6.0,3.0,NaN,"70,468.00",0.0,3.0,Area Sales Manager,UT,84111.0,12/27/88,M,Separated,US Citizen,No,NaN,4/30/2012,NaN,Terminated,Active,NaN,NaN,17.0,NaN,Fully Meets,4.53,3.0,0.0,1/29/2019,NaN,16.0,"70,468.00"
167,NaN,10017.0,1.0,1.0,0.0,1.0,5.0,4.0,NaN,"77,915.00",0.0,18.0,Production Manager,MA,2110.0,10/26/81,M,Married,US Citizen,No,NaN,9/30/2013,NaN,Terminated,Active,NaN,Janet King,2.0,Website,Exceeds,4.10,3.0,0.0,1/21/2019,NaN,11.0,"77,915.00"
177,"Manchester, Robyn",10077.0,1.0,1.0,0.0,2.0,5.0,3.0,NaN,"62,385.00",0.0,20.0,Production Technician II,MA,2324.0,08/25/76,M,Married,US Citizen,No,White,5/11/2016,NaN,Terminated,Active,Production,Webster Butler,NaN,LinkedIn,Fully Meets,5.00,3.0,0.0,1/21/2019,0.0,4.0,"62,385.00"
179,NaN,10279.0,NaN,1.0,0.0,1.0,5.0,3.0,NaN,"61,349.00",0.0,19.0,Production Technician I,MA,2451.0,11/07/74,NaN,Married,US Citizen,No,White,NaN,NaN,Terminated,Active,Production,Brannon Miller,12.0,LinkedIn,Fully Meets,4.10,3.0,0.0,1/22/2019,NaN,11.0,"61,349.00"
181,NaN,10053.0,1.0,1.0,0.0,1.0,5.0,3.0,0.0,"54,132.00",0.0,19.0,Production Technician I,MA,2330.0,11/22/77,M,Married,US Citizen,No,White,NaN,NaN,Terminated,Active,Production,David Stanley,14.0,NaN,Fully Meets,5.00,4.0,0.0,1/10/2019,NaN,8.0,"54,132.00"
184,"McKinzie, Jac",10202.0,NaN,1.0,1.0,2.0,6.0,3.0,0.0,"63,291.00",0.0,3.0,Area Sales Manager,TX,78789.0,07/01/84,NaN,Married,US Citizen,No,Two or more races,7/6/2016,NaN,Terminated,Active,Sales,NaN,21.0,Website,Fully Meets,3.40,4.0,0.0,1/29/2019,0.0,7.0,"63,291.00"
189,NaN,10213.0,1.0,1.0,1.0,1.0,5.0,3.0,NaN,"58,207.00",0.0,20.0,Production Technician II,MA,1450.0,08/17/92,M,Married,US Citizen,No,White,11/7/2011,NaN,Terminated,Active,Production,NaN,14.0,NaN,Fully Meets,3.70,3.0,0.0,1/8/2019,NaN,14.0,"58,207.00"
201,"Ngodup, Shari",10037.0,0.0,3.0,0.0,1.0,5.0,4.0,NaN,"52,984.00",0.0,19.0,Production Technician I,MA,1810.0,06/03/67,M,Separated,NaN,No,Black or African American,4/1/2013,NaN,Terminated,Active,Production,NaN,12.0,Diversity Job Fair,Exceeds,4.00,3.0,0.0,2/13/2019,0.0,12.0,"52,984.00"
210,NaN,10041.0,0.0,0.0,1.0,1.0,6.0,3.0,NaN,"68,829.00",0.0,3.0,Area Sales Manager,NC,27229.0,05/19/82,M,Single,US Citizen,No,White,1/5/2015,NaN,Terminated,Active,Sales,John Smith,17.0,Website,Fully Meets,5.00,5.0,0.0,1/14/2019,0.0,18.0,"68,829.00"
220,"Petrowsky, Thelma",10016.0,1.0,1.0,0.0,1.0,3.0,4.0,0.0,"93,554.00",0.0,9.0,Data Analyst,MA,1886.0,09/16/84,F,Married,US Citizen,No,Black or African American,11/10/2014,NaN,Terminated,Active,NaN,Simon Roup,4.0,Employee Referral,Exceeds,4.60,5.0,7.0,NaN,0.0,16.0,"93,554.00"
223,NaN,10124.0,1.0,1.0,0.0,1.0,6.0,3.0,NaN,"61,844.00",0.0,3.0,Area Sales Manager,KY,40220.0,08/29/88,M,Married,US Citizen,No,Black or African American,1/9/2012,NaN,Terminated,Active,Sales,Lynn Daneault,21.0,Website,Fully Meets,4.20,5.0,0.0,NaN,0.0,9.0,"61,844.00"
225,"Punjabhi, Louis",10225.0,0.0,0.0,1.0,1.0,5.0,3.0,NaN,"59,472.00",0.0,19.0,Production Technician I,MA,2109.0,06/19/61,F,Single,NaN,No,White,1/6/2014,NaN,Terminated,Active,NaN,NaN,18.0,Employee Referral,Fully Meets,4.80,3.0,0.0,NaN,0.0,14.0,"59,472.00"
238,"Roby, Lori",10162.0,1.0,1.0,0.0,1.0,3.0,3.0,0.0,"89,883.00",0.0,9.0,Data Analyst,MA,1886.0,10/11/81,M,Married,US Citizen,No,White,2/16/2015,NaN,Terminated,Active,IT/IS,Simon Roup,4.0,Employee Referral,Fully Meets,3.69,5.0,NaN,2/14/2019,0.0,15.0,"89,883.00"
240,NaN,10086.0,0.0,0.0,0.0,1.0,3.0,3.0,NaN,"150,290.00",0.0,7.0,Data Architect,Ma,2056.0,11/21/72,NaN,Single,US Citizen,No,Black or African American,1/7/2017,NaN,Terminated,Active,NaN,Brian Champaigne,13.0,Indeed,Fully Meets,4.94,3.0,NaN,NaN,0.0,17.0,"150,290.00"
243,NaN,10198.0,0.0,0.0,1.0,1.0,3.0,3.0,NaN,"140,920.00",0.0,13.0,IT Manager - DB,MA,2481.0,04/05/73,F,Single,US Citizen,No,White,1/20/2013,NaN,Terminated,Active,IT/IS,Jennifer Zamora,5.0,Indeed,Fully Meets,3.60,5.0,7.0,2/18/2019,0.0,13.0,"140,920.00"
245,"Saada, Adell",10126.0,NaN,1.0,0.0,1.0,4.0,3.0,NaN,"86,214.00",0.0,24.0,Software Engineer,MA,2132.0,07/24/86,M,Married,NaN,No,White,11/5/2012,NaN,Terminated,Active,Software Engineering,Alex Sweetwater,10.0,Indeed,Fully Meets,4.20,3.0,6.0,2/13/2019,0.0,2.0,"86,214.00"
258,"Smith, John",10291.0,0.0,2.0,1.0,1.0,6.0,2.0,NaN,"72,992.00",0.0,21.0,Sales Manager,MA,1886.0,08/16/84,NaN,Divorced,US Citizen,No,NaN,5/18/2014,NaN,Terminated,Active,Sales,NaN,15.0,Diversity Job Fair,Needs Improvement,2.40,4.0,0.0,1/16/2019,NaN,16.0,"72,992.00"
271,NaN,10158.0,1.0,1.0,0.0,1.0,5.0,3.0,NaN,"63,682.00",0.0,18.0,Production Manager,MA,1776.0,03/28/78,M,Married,US Citizen,No,Black or African American,1/8/2009,NaN,Terminated,Active,NaN,Janet King,2.0,NaN,Fully Meets,3.73,4.0,0.0,1/24/2019,NaN,12.0,"63,682.00"
272,NaN,10117.0,1.0,1.0,1.0,1.0,5.0,NaN,0.0,"63,025.00",0.0,19.0,Production Technician I,MA,2747.0,10/07/82,M,Married,US Citizen,Yes,White,1/5/2015,NaN,Terminated,Active,NaN,Michael Albert,22.0,Google Search,Fully Meets,4.36,5.0,0.0,1/24/2019,NaN,10.0,"63,025.00"
273,NaN,10209.0,0.0,0.0,0.0,1.0,5.0,3.0,NaN,"59,238.00",0.0,19.0,Production Technician I,MA,2718.0,08/15/68,F,Single,NaN,No,Asian,5/14/2012,NaN,Terminated,Active,Production,Elijiah Gray,16.0,Indeed,Fully Meets,3.40,5.0,NaN,1/31/2019,NaN,13.0,"59,238.00"
278,"Terry, Sharlene",10161.0,0.0,0.0,0.0,1.0,6.0,3.0,0.0,"58,370.00",0.0,3.0,Area Sales Manager,OR,97756.0,05/07/65,NaN,Single,US Citizen,No,NaN,9/29/2014,NaN,Terminated,Active,Sales,Lynn Daneault,21.0,Indeed,Fully Meets,3.69,3.0,0.0,1/28/2019,NaN,18.0,"58,370.00"
282,NaN,10013.0,0.0,3.0,1.0,1.0,6.0,4.0,NaN,"64,397.00",0.0,3.0,Area Sales Manager,ND,58782.0,01/15/68,NaN,Separated,NaN,No,White,NaN,NaN,Terminated,Active,Sales,Lynn Daneault,21.0,Indeed,Exceeds,4.10,3.0,0.0,1/4/2019,0.0,6.0,"64,397.00"
283,"Trang, Mei",10287.0,0.0,0.0,0.0,1.0,5.0,2.0,NaN,"63,025.00",0.0,19.0,Production Technician I,MA,2021.0,05/16/83,NaN,Single,US Citizen,No,White,NaN,NaN,Terminated,Active,Production,David Stanley,14.0,LinkedIn,Needs Improvement,2.44,5.0,0.0,2/11/2019,NaN,18.0,"63,025.00"
287,NaN,10045.0,NaN,1.0,1.0,1.0,3.0,3.0,0.0,"76,029.00",0.0,15.0,Network Engineer,MA,2343.0,03/31/69,NaN,Married,Eligible NonCitizen,No,NaN,3/30/2015,NaN,Terminated,Active,IT/IS,Peter Monroe,7.0,NaN,Fully Meets,5.00,4.0,NaN,NaN,NaN,8.0,"76,029.00"
288,"Valentin,Jackie",10205.0,1.0,1.0,0.0,1.0,6.0,3.0,0.0,"57,859.00",0.0,3.0,Area Sales Manager,AZ,85006.0,05/23/91,M,Married,US Citizen,No,Two or more races,7/5/2011,NaN,Terminated,Active,NaN,John Smith,17.0,NaN,Fully Meets,2.81,3.0,NaN,NaN,NaN,16.0,"57,859.00"
291,NaN,10253.0,0.0,0.0,1.0,1.0,6.0,3.0,0.0,"55,875.00",0.0,3.0,Area Sales Manager,ME,4063.0,07/11/89,NaN,Single,US Citizen,No,Asian,NaN,NaN,Terminated,Active,NaN,John Smith,17.0,Website,Fully Meets,4.50,4.0,0.0,NaN,0.0,11.0,"55,875.00"

In [35]:
df_prueba_hispanic = df_rh[df_rh["HispanicLatino"]=="Yes"]
df_prueba_hispanic[["HispanicLatino", "RaceDesc"]]

    HispanicLatino                   RaceDesc
10             Yes  Black or African American
11             Yes  Black or African American
18             Yes                        NaN
20             Yes                      White
56             Yes                      White
72             Yes                      White
74             Yes                        NaN
93             Yes                        NaN
100            Yes                      White
101            Yes  Black or African American
106            Yes          Two or more races
109            Yes                      White
110            Yes                      White
113            Yes                      White
123            Yes                        NaN
150            Yes                      White
155            Yes  Black or African American
170            Yes                        NaN
174            Yes  Black or African American
190            Yes  Black or African American
207            Yes                        NaN
231            Yes                      White
239            Yes                      White
254            Yes                      White
272            Yes                      White
300            Yes                        NaN
303            Yes  Black or African American

In [36]:
df_rh.columns

Index(['Employee_Name', 'EmpID', 'MarriedID', 'MaritalStatusID', 'GenderID',
       'EmpStatusID', 'DeptID', 'PerfScoreID', 'FromDiversityJobFairID',
       'Salary', 'Termd', 'PositionID', 'Position', 'State', 'Zip', 'DOB',
       'Sex', 'MaritalDesc', 'CitizenDesc', 'HispanicLatino', 'RaceDesc',
       'DateofHire', 'DateofTermination', 'TermReason', 'EmploymentStatus',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'PerformanceScore', 'EngagementSurvey', 'EmpSatisfaction',
       'SpecialProjectsCount', 'LastPerformanceReview_Date', 'DaysLateLast30',
       'Absences', 'Remuneration'],
      dtype='object')

In [37]:
df1 = df_rh[df_rh["DaysLateLast30"].isnull()]
df1[["Absences", "DaysLateLast30"]].sort_values("Absences")

     Absences  DaysLateLast30
99        1.0             NaN
116       1.0             NaN
145       1.0             NaN
71        1.0             NaN
207       1.0             NaN
14        1.0             NaN
118       2.0             NaN
202       2.0             NaN
215       2.0             NaN
249       2.0             NaN
255       2.0             NaN
310       2.0             NaN
48        2.0             NaN
25        2.0             NaN
21        2.0             NaN
205       3.0             NaN
52        3.0             NaN
46        3.0             NaN
106       3.0             NaN
37        3.0             NaN
97        3.0             NaN
33        3.0             NaN
2         3.0             NaN
246       4.0             NaN
137       4.0             NaN
307       4.0             NaN
281       4.0             NaN
203       4.0             NaN
257       4.0             NaN
295       4.0             NaN
78        4.0             NaN
67        5.0             NaN
296       5.0             NaN
267       5.0             NaN
73        6.0             NaN
79        6.0             NaN
94        6.0             NaN
152       6.0             NaN
28        6.0             NaN
299       7.0             NaN
140       7.0             NaN
247       7.0             NaN
252       7.0             NaN
156       7.0             NaN
80        7.0             NaN
98        7.0             NaN
40        7.0             NaN
66        8.0             NaN
287       8.0             NaN
81        8.0             NaN
241       8.0             NaN
181       8.0             NaN
12        9.0             NaN
128       9.0             NaN
233      10.0             NaN
186      10.0             NaN
165      10.0             NaN
228      10.0             NaN
272      10.0             NaN
112      10.0             NaN
150      10.0             NaN
179      11.0             NaN
167      11.0             NaN
41       11.0             NaN
231      11.0             NaN
309      11.0             NaN
195      11.0             NaN
271      12.0             NaN
10       12.0             NaN
196      13.0             NaN
190      13.0             NaN
273      13.0             NaN
149      13.0             NaN
248      13.0             NaN
262      13.0             NaN
159      13.0             NaN
251      14.0             NaN
36       14.0             NaN
189      14.0             NaN
27       14.0             NaN
275      14.0             NaN
77       14.0             NaN
305      14.0             NaN
65       14.0             NaN
214      15.0             NaN
96       15.0             NaN
90       15.0             NaN
127      15.0             NaN
3        15.0             NaN
5        15.0             NaN
11       15.0             NaN
222      15.0             NaN
70       15.0             NaN
289      15.0             NaN
105      15.0             NaN
288      16.0             NaN
260      16.0             NaN
53       16.0             NaN
129      16.0             NaN
75       16.0             NaN
166      16.0             NaN
258      16.0             NaN
185      17.0             NaN
154      17.0             NaN
298      17.0             NaN
163      17.0             NaN
1        17.0             NaN
197      17.0             NaN
45       17.0             NaN
283      18.0             NaN
278      18.0             NaN
293      18.0             NaN
194      18.0             NaN
61       19.0             NaN
6        19.0             NaN
102      19.0             NaN
229      19.0             NaN
32       19.0             NaN
161      20.0             NaN
256      20.0             NaN

In [38]:
df_rh[["ManagerName", "ManagerID"]].sort_values("ManagerID")

            ManagerName  ManagerID
132                 NaN        1.0
160  Brandon R. LeBlanc        1.0
268  Brandon R. LeBlanc        1.0
255  Brandon R. LeBlanc        1.0
29                  NaN        1.0
259  Brandon R. LeBlanc        1.0
264          Janet King        2.0
78           Janet King        2.0
27                  NaN        2.0
137          Janet King        2.0
55           Janet King        2.0
164          Janet King        2.0
36                  NaN        2.0
271          Janet King        2.0
131          Janet King        2.0
118                 NaN        2.0
187          Janet King        2.0
227          Janet King        2.0
218                 NaN        2.0
290          Janet King        2.0
296                 NaN        2.0
157                 NaN        2.0
308          Janet King        2.0
167          Janet King        2.0
54           Janet King        2.0
26   Brandon R. LeBlanc        3.0
1            Simon Roup        4.0
254          Simon Roup        4.0
39           Simon Roup        4.0
144          Simon Roup        4.0
213                 NaN        4.0
57           Simon Roup        4.0
18           Simon Roup        4.0
239          Simon Roup        4.0
220          Simon Roup        4.0
249          Simon Roup        4.0
108          Simon Roup        4.0
12           Simon Roup        4.0
25           Simon Roup        4.0
238          Simon Roup        4.0
292                 NaN        4.0
309          Simon Roup        4.0
130                 NaN        4.0
244     Jennifer Zamora        5.0
76      Jennifer Zamora        5.0
42                  NaN        5.0
35      Jennifer Zamora        5.0
96      Jennifer Zamora        5.0
190     Jennifer Zamora        5.0
243     Jennifer Zamora        5.0
48         Eric Dougall        6.0
170        Eric Dougall        6.0
261                 NaN        6.0
99         Eric Dougall        6.0
75         Peter Monroe        7.0
91                  NaN        7.0
113        Peter Monroe        7.0
193        Peter Monroe        7.0
252        Peter Monroe        7.0
156        Peter Monroe        7.0
109        Peter Monroe        7.0
287        Peter Monroe        7.0
61         Peter Monroe        7.0
9                   NaN        7.0
284                 NaN        7.0
299        Peter Monroe        7.0
59         Peter Monroe        7.0
262        Peter Monroe        7.0
150                 NaN        9.0
97   Board of Directors        9.0
6                   NaN       10.0
274     Alex Sweetwater       10.0
86      Alex Sweetwater       10.0
37      Alex Sweetwater       10.0
212     Alex Sweetwater       10.0
245     Alex Sweetwater       10.0
285     Alex Sweetwater       10.0
66      Alex Sweetwater       10.0
180     Alex Sweetwater       10.0
93             Amy Dunn       11.0
106            Amy Dunn       11.0
301            Amy Dunn       11.0
5              Amy Dunn       11.0
199                 NaN       11.0
152            Amy Dunn       11.0
216                 NaN       11.0
215                 NaN       11.0
253            Amy Dunn       11.0
279            Amy Dunn       11.0
46                  NaN       11.0
69             Amy Dunn       11.0
125                 NaN       11.0
175            Amy Dunn       11.0
33             Amy Dunn       11.0
90             Amy Dunn       11.0
20                  NaN       11.0
178            Amy Dunn       11.0
235            Amy Dunn       11.0
286                 NaN       11.0
136                 NaN       11.0
112      Brannon Miller       12.0
111                 NaN       12.0
154      Brannon Miller       12.0
179      Brannon Miller       12.0
138                 NaN       12.0
188      Brannon Miller       12.0
73                  NaN       12.0
201                 NaN       12.0
307      Brannon Miller       12.0
304      Brannon Miller       12.0
8        Brannon Miller       12.0
22       Brannon Miller       12.0
281                 NaN       12.0
263                 NaN       12.0
49       Brannon Miller       12.0
64       Brannon Miller       12.0
237      Brannon Miller       12.0
51       Brannon Miller       12.0
145      Brannon Miller       12.0
92       Brannon Miller       12.0
219      Brannon Miller       12.0
221                 NaN       12.0
298    Brian Champaigne       13.0
275    Brian Champaigne       13.0
120                 NaN       13.0
197                 NaN       13.0
228    Brian Champaigne       13.0
70     Brian Champaigne       13.0
240    Brian Champaigne       13.0
162    Brian Champaigne       13.0
222       David Stanley       14.0
181       David Stanley       14.0
265                 NaN       14.0
233       David Stanley       14.0
158       David Stanley       14.0
283       David Stanley       14.0
241       David Stanley       14.0
189                 NaN       14.0
305       David Stanley       14.0
203                 NaN       14.0
159       David Stanley       14.0
310       David Stanley       14.0
52                  NaN       14.0
100       David Stanley       14.0
10        David Stanley       14.0
74        David Stanley       14.0
114                 NaN       14.0
115                 NaN       14.0
50        David Stanley       14.0
28                  NaN       14.0
139       David Stanley       14.0
60       Debra Houlihan       15.0
258                 NaN       15.0
147      Debra Houlihan       15.0
62         Elijiah Gray       16.0
297        Elijiah Gray       16.0
257        Elijiah Gray       16.0
194                 NaN       16.0
211        Elijiah Gray       16.0
231        Elijiah Gray       16.0
43                  NaN       16.0
173                 NaN       16.0
172        Elijiah Gray       16.0
134        Elijiah Gray       16.0
146        Elijiah Gray       16.0
103                 NaN       16.0
277                 NaN       16.0
85         Elijiah Gray       16.0
165        Elijiah Gray       16.0
87         Elijiah Gray       16.0
204                 NaN       16.0
3          Elijiah Gray       16.0
24         Elijiah Gray       16.0
17         Elijiah Gray       16.0
273        Elijiah Gray       16.0
250        Elijiah Gray       16.0
104          John Smith       17.0
230          John Smith       17.0
72           John Smith       17.0
67           John Smith       17.0
288          John Smith       17.0
210          John Smith       17.0
128                 NaN       17.0
32           John Smith       17.0
291          John Smith       17.0
166                 NaN       17.0
121          John Smith       17.0
155          John Smith       17.0
270          John Smith       17.0
40           John Smith       17.0
101       Kelley Spirea       18.0
16        Kelley Spirea       18.0
38                  NaN       18.0
225                 NaN       18.0
246                 NaN       18.0
81        Kelley Spirea       18.0
13                  NaN       18.0
68        Kelley Spirea       18.0
56                  NaN       18.0
15                  NaN       18.0
293       Kelley Spirea       18.0
248                 NaN       18.0
269       Kelley Spirea       18.0
82                  NaN       18.0
208       Kelley Spirea       18.0
192       Kelley Spirea       18.0
127                 NaN       18.0
142       Kelley Spirea       18.0
185       Kelley Spirea       18.0
123       Kelley Spirea       18.0
119                 NaN       18.0
169       Kelley Spirea       18.0
47        Ketsia Liebig       19.0
176       Ketsia Liebig       19.0
260                 NaN       19.0
79                  NaN       19.0
141       Ketsia Liebig       19.0
182       Ketsia Liebig       19.0
153                 NaN       19.0
21        Ketsia Liebig       19.0
34        Ketsia Liebig       19.0
110       Ketsia Liebig       19.0
71                  NaN       19.0
126       Ketsia Liebig       19.0
133       Ketsia Liebig       19.0
236       Ketsia Liebig       19.0
295       Ketsia Liebig       19.0
94        Ketsia Liebig       19.0
200       Ketsia Liebig       19.0
7         Ketsia Liebig       19.0
302                 NaN       19.0
217       Ketsia Liebig       19.0
303                 NaN       19.0
53                  NaN       20.0
306      Kissy Sullivan       20.0
140      Kissy Sullivan       20.0
234                 NaN       20.0
289      Kissy Sullivan       20.0
161                 NaN       20.0
205      Kissy Sullivan       20.0
163                 NaN       20.0
2        Kissy Sullivan       20.0
266      Kissy Sullivan       20.0
183      Kissy Sullivan       20.0
117                 NaN       20.0
224      Kissy Sullivan       20.0
80       Kissy Sullivan       20.0
196      Kissy Sullivan       20.0
242      Kissy Sullivan       20.0
191      Kissy Sullivan       20.0
226                 NaN       20.0
11                  NaN       20.0
31       Kissy Sullivan       20.0
116                 NaN       20.0
63                  NaN       20.0
278       Lynn Daneault       21.0
202       Lynn Daneault       21.0
149       Lynn Daneault       21.0
45        Lynn Daneault       21.0
95                  NaN       21.0
184                 NaN       21.0
267                 NaN       21.0
107       Lynn Daneault       21.0
98        Lynn Daneault       21.0
207                 NaN       21.0
77        Lynn Daneault       21.0
282       Lynn Daneault       21.0
223       Lynn Daneault       21.0
294                 NaN       22.0
23                  NaN       22.0
14       Michael Albert       22.0
143      Michael Albert       22.0
148                 NaN       22.0
122      Michael Albert       22.0
195      Michael Albert       22.0
102                 NaN       22.0
84       Michael Albert       22.0
83                  NaN       22.0
229                 NaN       22.0
247      Michael Albert       22.0
186      Michael Albert       22.0
58                  NaN       22.0
256      Michael Albert       22.0
0        Michael Albert       22.0
41       Michael Albert       22.0
168      Michael Albert       22.0
171      Michael Albert       22.0
272      Michael Albert       22.0
209                 NaN       22.0
129      Michael Albert       30.0
206                 NaN       39.0
214      Webster Butler       39.0
89                  NaN       39.0
4        Webster Butler       39.0
198      Webster Butler       39.0
300      Webster Butler       39.0
105      Webster Butler       39.0
151      Webster Butler       39.0
280      Webster Butler       39.0
65       Webster Butler       39.0
174      Webster Butler       39.0
124                 NaN       39.0
276      Webster Butler       39.0
19       Webster Butler        NaN
30       Webster Butler        NaN
44       Webster Butler        NaN
88       Webster Butler        NaN
135      Webster Butler        NaN
177      Webster Butler        NaN
232      Webster Butler        NaN
251      Webster Butler        NaN

In [40]:
df_rh[["PerformanceScore"]].value_counts()

PerformanceScore
Fully Meets          243
Exceeds               37
Needs Improvement     18
PIP                   13
Name: count, dtype: int64

In [41]:
df_rh[["Position", "PositionID"]].value_counts()

Position                      PositionID
Production Technician I       19.0          137
Production Technician II      20.0           57
Area Sales Manager            3.0            27
Production Manager            18.0           13
Software Engineer             24.0            9
IT Support                    14.0            8
Data Analyst                  9.0             7
Database Administrator        8.0             5
Network Engineer              15.0            5
Sr. Network Engineer          28.0            5
BI Developer                  4.0             4
Accountant I                  1.0             3
Administrative Assistant      2.0             3
Senior BI Developer           22.0            3
Sales Manager                 21.0            3
Sr. DBA                       27.0            2
Sr. Accountant                26.0            2
IT Manager - DB               13.0            2
CIO                           6.0             1
Software Engineering Manager  25.0            1
Software Engineer             23.0            1
Shared Services Manager       23.0            1
BI Director                   5.0             1
Director of Operations        10.0            1
Director of Sales             11.0            1
Production Manager            17.0            1
Principal Data Architect      29.0            1
President & CEO               16.0            1
Data Architect                7.0             1
IT Manager - Support          13.0            1
IT Manager - Infra            13.0            1
IT Director                   12.0            1
Enterprise Architect          30.0            1
Data Analyst                  9.0             1
Name: count, dtype: int64

In [46]:
df_rh["Employee_Name"].unique()

array(['Adinolfi, Wilson  K', nan, 'Akinkuolie, Sarah', 'Alagbe,Trina',
       'Anderson, Carol ', 'Anderson, Linda  ', 'Andreola, Colby',
       'Bachiochi, Linda', 'Barbossa, Hector', 'Barone, Francesco  A',
       'Barton, Nader', 'Bates, Norman', 'Beak, Kimberly  ',
       'Beatrice, Courtney ', 'Becker, Renee', 'Biden, Lowan  M',
       'Blount, Dianna', 'Booth, Frank', 'Buccheri, Joseph  ',
       'Bugali, Josephine ', 'Burke, Joelle', 'Candie, Calvin',
       'Carabbio, Judith', 'Carey, Michael  ', 'Carter, Michelle ',
       'Chace, Beatrice ', 'Champaigne, Brian', 'Chan, Lin',
       'Chigurh, Anton', 'Chivukula, Enola', 'CIERPISZEWSKI, CAROLINE  ',
       'Clayton, Rick', 'Cloninger, Jennifer', 'Costello, Frank',
       'Crimmings,   Jean', 'Daneault, Lynn', 'Daniele, Ann  ',
       "Darson, Jene'ya ", 'DeGweck,  James', 'Demita, Carla',
       'Dickinson, Geoff ', 'Dietrich, Jenna  ', 'Driver, Elle',
       'Erilus, Angela', 'Exantus, Susan', 'Faller, Megan ',
       'Fidelia,  Libby', 'Forrest, Alex', 'Foster-Baker, Amy',
       'Fraval, Maruk ', 'Garcia, Raul', 'Gentry, Mildred',
       'Gilles, Alex', 'Girifalco, Evelyn', 'Gold, Shenice  ',
       'Gonzalez, Cayo', 'Good, Susan', 'Goyal, Roxana', 'Gross, Paula',
       'Gruber, Hans', 'Harrington, Christie ', 'Harrison, Kara',
       'Heitzman, Anthony', 'Hendrickson, Trina', 'Hitchcock, Alfred',
       'HOMBERGER, ADRIENNE  J', 'Houlihan, Debra', 'Hudson, Jane',
       'Hunts, Julissa', 'Hutter, Rosalie', 'Huynh, Ming',
       'IMMEDIATO, WALTER', 'Jackson, Maryellen', 'Jacobi, Hannah  ',
       'Jeannite, Tayana', 'Jhaveri, Sneha  ', 'Johnson, George',
       'JOHNSTON, YEN', 'Kampew, Donysha', 'Keatts, Kramer ',
       'King, Janet', 'Kinsella, Kathleen  ', 'Lajiri,  Jyoti',
       'Langford, Lindsey', 'LaRotonda, William  ', 'Latif, Mohammed',
       'Leach, Dallas', 'LeBlanc, Brandon  R', 'Leruth, Giovanni',
       'Linares, Marilyn ', 'Linden, Mathew', 'Lindsay, Leonara ',
       'Lundy, Susan', 'Lunquist, Lisa', 'Lydon, Allison',
       'Lynch, Lindsay', 'MacLennan, Samuel', 'Manchester, Robyn',
       'Martin, Sandra', 'McKinzie, Jac', 'Meads, Elizabeth',
       'Medeiros, Jennifer', 'Miller, Brannon', 'Miller, Ned',
       'Monroe, Peter', 'Moran, Patrick', 'Motlagh,  Dawn',
       'Moumanil, Maliki ', 'Navathe, Kurt', 'Ndzi, Colombui',
       'Ndzi, Horia', 'Newman, Richard ', 'Ngodup, Shari ',
       'Nguyen, Dheepa', 'Nguyen, Lei-Ming', 'Oliver, Brooke ',
       'Onque, Jasmine', 'Panjwani, Nina', 'Perry, Shakira',
       'Peters, Lauren', 'Peterson, Ebonee  ', 'Petrowsky, Thelma',
       'PITT, BRAD ', 'Punjabhi, Louis  ', 'Quinn, Sean',
       'Rachael, Maggie', 'Rarrick, Quinn', 'Rivera, Haley  ',
       'Roberson, May', 'Robertson, Peter', 'Robinson, Alain  ',
       'Robinson, Elias', 'Roby, Lori ', 'Roehrich, Bianca',
       'Rossetti, Bruno', 'Ruiz, Ricardo', 'Saada, Adell',
       'Salter, Jason', 'Sewkumar, Nori', 'Simard, Kramer', 'Singh, Nan ',
       'Smith, John', 'Soze, Keyser', 'Sparks, Taylor  ',
       'Spirea, Kelley', 'Squatrito, Kristen', 'Stanford,Barbara  M',
       'Stoica, Rick', 'Strong, Caitrin', 'TEJEDA, LENORA ',
       'Terry, Sharlene ', 'Trang, Mei', 'True, Edward',
       'Trzeciak, Cybil', 'Valentin,Jackie', 'Veera, Abdellah ',
       'Voldemort, Lord', 'Volk, Colleen', 'Von Massenbach, Anna',
       'WALKER, ROGER', 'Wilber, Barry', 'Williams, Jacquelyn  ',
       'Woodson, Jason', 'Ybarra, Catherine ', 'Zima, Colleen'],
      dtype=object)